# BIND9 zone file for cluster.local
# =================================
$TTL 86400
@       IN      SOA     ns1.cluster.local. admin.cluster.local. (
                        2024033101 ; Serial
                        3600        ; Refresh
                        1800        ; Retry
                        604800     ; Expire
                        86400 )     ; Minimum TTL

; Name servers
@       IN      NS      ns1.cluster.local.
ns1     IN      A       {{ loadbalancer_ip | default('rpi02.local') }}

; A records
@       IN      A       {{ loadbalancer_ip | default('rpi02.local') }}
controller    IN      A       {{ controller_ip | default('rk01.local') }}
storage       IN      A       {{ storage_controller_ip | default('rk01.local') }}
pihole        IN      A       {{ pihole_ip | default('rpi02.local') }}